{% extends 'base.html' %}
{% block content %}
<h2>Monthly Budgets</h2>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" class="btn btn-primary">Save Budget</button>
</form>

<h3 class="mt-4">Your Budgets</h3>

<table class="table table-bordered">
    <tr>
        <th>Month</th>
        <th>Limit</th>
        <th>Spent</th>
        <th>Status</th>
    </tr>

    {% for b in budgets %}
    <tr>
        <td>{{ b.month }}/{{ b.year }}</td>
        <td>₹{{ b.limit }}</td>
        <td>₹{{ b.spent }}</td>
        <td>
            {% if b.spent > b.limit %}
                <span class="text-danger">Exceeded</span>
            {% else %}
                <span class="text-success">OK</span>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
